:root {
    --color-bg-page: #06111d;
    --color-bg-primary: #000814;
    --color-bg-secondary: #001327;
    --color-accent: #99d6ea;
    --color-secondary: #fdf8e1;
    --color-primary: #f9dc5c;
    --color-text: #fffdf7;
    --padding: 8px;
    --padding-sm: calc(var(--padding) / 2);
    --padding-lg: calc(var(--padding) * 2);
    --font-size: 14px;
    --font-size-sm: 12px;
    --font-size-lg: 16px;

    --color-border: var(--color-accent);
    --color-border-muted: color-mix(
        in srgb,
        var(--color-accent) 35%,
        var(--color-bg-primary)
    );
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg-page: #ffffff;
        --color-bg-primary: #fcfcfc;
        --color-bg-secondary: #e4e4e4;
        --color-accent: #4f4f4f;
        --color-secondary: #2a2a2a;
        --color-primary: black;
        --color-text: black;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--color-text);
    font-family: monospace;
    font-size: var(--font-size);
    background-color: var(--color-bg-page);
    display: grid;
    grid-template-columns: minmax(0, 1300px);
    justify-content: center;
}

.main {
    background-color: var(--color-bg-primary);
    min-height: 100vh;
    border: 1px solid var(--color-border-muted);
    display: flex;
    flex-direction: column;
    position: relative;
}

button {
    font-family: monospace;
    background-color: var(--color-bg-primary);
    color: var(--color-accent);
    border: 1px solid var(--color-border-muted);
    padding: var(--padding-sm) var(--padding);
    font-size: var(--font-size);
    outline: none;
    cursor: pointer;
}
button:hover,
button:focus {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    background-color: var(--color-bg-secondary);
}

textarea {
    background-color: var(--color-bg-primary);
    border: 1px solid transparent;
    color: var(--color-text);
    /* to avoid auto zoom on mobile devices: */
    font-size: 16px;
    font-family: monospace;
    outline: none;
    resize: vertical;
    padding: var(--padding);
    width: 100%;
}
textarea::placeholder {
    color: var(--color-accent);
    font-style: italic;
}
textarea:hover,
textarea:focus {
    border: 1px solid var(--color-secondary);
}

.token {
    background-color: var(--color-bg-primary);
    border: 1px solid transparent;
    border-bottom: 1px solid var(--color-border-muted);
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    gap: var(--padding-lg);
}
.token > :first-child {
    color: var(--color-text);
    transition: color 300ms ease;
}
.token > :last-child {
    color: var(--color-accent);
    transition: color 300ms ease;
    overflow: hidden;
}
.tokens:has(> .token:hover) > .token > * {
    color: var(--color-border-muted);
}
.tokens > .token:hover {
    border-color: var(--color-secondary);
}
.tokens > .token:hover > :first-child {
    color: var(--color-text);
}
.tokens > .token:hover > :last-child {
    color: var(--color-accent);
}

.results {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
    color: var(--color-accent);
    font-size: 16px;
    text-align: right;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}
a:hover {
    color: var(--color-secondary);
}

.header-box {
    font-size: var(--font-size-lg);
    padding: var(--padding-lg) var(--padding);
    color: var(--color-primary);
    background-color: var(--color-bg-secondary);
    border-bottom: 1px solid var(--color-border-muted);
}

.footer {
    border-top: 1px solid var(--color-border-muted);
    padding: var(--padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: var(--padding);
    color: var(--color-accent);
}
.footer > :last-child {
    gap: var(--padding-lg);
}
.footer * {
    font-size: var(--font-size-sm);
}
